

.A1
{
   color: cornflowerblue;
}
.A2
{
   color: cornflowerblue;
}
.A3
{
   color: cornflowerblue;
}
.navbar-nav > li{
   padding-left:30px;
   padding-right:30px;
 }

 .blue
 {
    color:darkblue;
    font-size:larger;
 }
 .responsive-iframe {
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 60%;
   height: 50%;
   border: none;
 }